Welcome to PaperMC's Hangar!

This Email was used to sign up for an account on Hangar, please verify your account so you can start enjoying the site right away.

Click the link below to complete the sign-up process:

<a href="{{ .VerificationURL }}">{{ .VerificationURL }}</a>

If this wasn't you, you can ignore this Email or contact us

We can't wait to see you,
The PaperMC team
