Welcome to Hangar, {{ .Identity.traits.username }}!

Please verify your account by entering the following code:
{{ .VerificationCode }}
or  clicking the following link:
{{ .VerificationURL }}

If this was not you, please ignore this email.

Thanks,
Your Hangar team
