### Node template
# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# nuxt.js build output
.nuxt

# Nuxt generate
dist

# Service worker
sw.*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional REPL history
.node_repl_history

# node-waf configuration
.lock-wscript

# Output of 'npm pack'
*.tgz

# parcel-bundler cache (https://parceljs.org/)
.cache
